header {
    display: flex;
    color: var(--main-color);
    min-height: 80px;
    padding: 0 10%;
    width: 100%;
    background-color: var(--contrast-color);
    margin-bottom: 20px;
}

.navbar-collapse {
    justify-content: right;
}

.navbar-toggler {
    border-color: var(--dark-color);
}

.nav-link,
.nav-link:visited {
    color: var(--main-color);
    font-size: 1.3rem;
    font-weight: 500;
}

.nav-link:hover {
    color: var(--light-color);
    border-bottom: 1px solid var(--light-color);
}

.navbar-nav {
    margin-right: 20px;
}
    
/* Estilizar o botão suspenso */
.dropbtn {
    padding: 16px;
    border: none;
}

/* Conteúdo suspenso (oculto por padrão) */
.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links dentro do menu suspenso */
.dropdown-menu a {
    color: var(--main-color);
    font-size: 1.3rem;
    font-weight: 500;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Mostrar o menu suspenso ao passar o mouse */
.dropdown:hover .dropdown-menu {
    display: block;
}

@media (max-width: 991px) {
    header {
        padding: 0;
    }

    .nav-link:hover {
        border-bottom: none;
    }
}