{% extends 'Layout.html' %}
{% load static %}

{% block 'title' %}Sobre{% endblock 'title' %}

{% block 'scripts' %}

<link rel="stylesheet" href="{% static 'css/main/sobre.css'%}">
<script src="{% static 'scripts/edicao.js'%}"></script>

{% endblock 'scripts' %}

{% block 'content' %}

<div class='conteudo'>
    <div>
        <h3>O melhor e-commerce para a sua empresa Fornecemos os melhores
            produtos para o seu negócio!</h3>
        <p>
            Em nosso e-commerce, vendemos produtos em grandes quantidades para outras empresas.
            Através de nossa plataforma online, oferecemos uma ampla variedade de produtos, desde alimentos e bebidas
            até produtos eletrônicos e materiais de construção.
            Nele nossos clientes podem fazer pedidos rapidamente e de forma fácil, podendo escolher os produtos
            desejados, quantidades e formas de pagamento.
        </p>
    </div>
    <div>
        <h3>E-merald</h3>
        <p>
            Esmeralda é uma pedra preciosa de cor verde, que pertence à família mineral do berilo.
            Ela é uma das pedras mais valiosas do mundo, junto com o diamante, rubi e safira.
            A cor verde da esmeralda é devida à presença de cromo e vanádio em sua composição química.
            Dessa forma, tratamos nossos produtos como esmeraldas para nossos clientes.
        </p>
    </div>
</div>

{% endblock 'content' %}

</html>