{% load static %}
{% block 'scripts' %}

<link rel="stylesheet" href="{% static 'css/header.css'%}" />
<script src="{% static 'scripts/edicao.js'%}"></script>

{% endblock 'scripts' %}

<header>
    <nav class="navbar navbar-expand-lg" style="width: 100%;">
        <div class="container-fluid">
            <h2 class="titulo">Reclama <span>Brasil</span></h2>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Página inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'manual' %}">Manual</a>
                    </li>
                    <!-- Dropdown Menu-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown">Reivindicações</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'comentarios/listagem' %}?value=1">Segurança</a>
                            </li>
                            <li><a class="dropdown-item"
                                    href="{% url 'comentarios/listagem' %}?value=2">Acessibilidade</a></li>
                            <li><a class="dropdown-item" href="{% url 'comentarios/listagem' %}?value=3">Saúde
                                    pública</a></li>
                            <li><a class="dropdown-item" href="{% url 'comentarios/listagem' %}?value=4">Outros</a></li>
                        </ul>
                    </li>
                    <!-- End Dropdown Menu -->

                    {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'comentarios/cadastro' %}">Nova Reivindicação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>

                    {% endif %}
                </ul>

                {% if not user.is_authenticated %}

                <div class="contexto">
                    <a href="{% url 'login' %}" class="btn btn-primary">Entrar</a>
                </div>

                {% endif %}

            </div>
        </div>
    </nav>
</header>