{% extends 'index.html' %}
{% load static %}

{% block 'title' %}Login{% endblock 'title' %}

{% block 'scripts' %}

<link rel="stylesheet" href="{% static 'css/usuarios/login.css'%}">
<link rel="stylesheet" href="{% static 'css/edicao.css'%}">
<script src="{% static 'scripts/edicao.js'%}"></script>

{% endblock 'scripts' %}

{% block 'layout' %}

<div class="login div-p">
    <h2>Entrar</h2>
    <form action="{% url 'login' %}" method="POST" id="login">{% csrf_token %}
        <div class="col-md">
            <div class="input-label-flutuante medio">
                <input type="text" id="cpf" name="cpf" required placeholder="Digite seu cpf">
                <label for="cpf">CPF</label>
            </div>
        </div>
        <div class="col-md">
            <div class="input-label-flutuante medio">
                <input type="password" id="senha" name="senha" required placeholder="Digite sua senha">
                <label for="usuario" id="teste">Senha</label>
            </div>
        </div>
        <div class="col-md">
            <a href="" class="texto">Esqueci minha senha.</a>
        </div>
        <div class="col-md acoes">
            <button type="submit" form="login" class="btn btn-primary">Entrar</button>
            <a href="{% url 'cadastro' %}" class="btn btn-success">Cadastrar-se</a>
        </div>
    </form>
</div>

{% endblock 'layout' %}